<div data-api-content>
  {%- assign grid_strings = 'mobile--nine-tenths small--one-half medium--one-half large-up--one-quarter' -%}

  {% render 'product-grid-item', product: product, grid_strings: grid_strings %}
</div>
