@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #10B981;
  --color-primaryDark: #059669;
  --color-dark: #0F172A;
  --color-darkLight: #1E293B;
}

@layer base {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }
}